# These owners will be the default owners for all files in the types folder of the master branch
types/ @yartiles
types/ @danielsan
types/ @darielnoel
types/ @anahiem
types/ @renecairo
types/ @howardem
types/ @neilgoldman
emDataStandards/ @rubenalanis
