article > .list-group{
    display: none;
}

.panel-body h3{
    font-size: 16px;
} 

/* .sidebar-nav > .sidebar-category {
     margin-top: 0px; 
    font-size: 18px;
    line-height: 36px;
} */

.panel-primary > .panel-heading {
  background-color: #79bfda;
  border: none;
}

.btn-info {
  /* background-color: #EB7D3C; */
  background-color: #7f7f7f;
  border: none;
}